<form method="post" action="{{ path('vehicule_delete', {'id': vehicule.id}) }}" style="display: inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vehicule.id) }}">
    <button class="btn btn-outline-danger"><i class="bi bi-trash"></i></button>
    
</form>
